<div>
  <h2>
    Here's our list of burgers
  </h2>


  <div *ngFor="let burger of burgerList">
    <mat-card class="bruger-list">
      <mat-card-title>{{burger.name}}</mat-card-title>
      <mat-card-subtitle>Burger {{burger.id}}</mat-card-subtitle>
      <mat-card-content>
        <img src="{{burger.image}}">
        <p>Prix : {{burger.price}} </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-button><a href="burger/{{burger.id}}">Voir les détails</a></mat-button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
